footer {
    background-color: #353535;
    padding: 25px;
    color: white;
}

.footer_title {
    font-family: "Shrikhand", "sans-serif";
    padding: 5px 0 20px 0;
    font-size: 1.2rem;
    margin: 0px 0px 15px 0px;
}

.footer_text {
    list-style-type: none;
    margin: -16px 24px 5px -38px;
    font-size: 18px;

    li {
        padding: 5px 0 5px 0;

        a {
            color: white;
        }
    }
}

.fa-utensils {
    margin-right: 8px;
}

.fa-handshake-angle {
    margin-right: 9px;
}