 .restaurant {
   background-color: #F2F2F2;
   flex-wrap: wrap;
   width: 100%;
   display: flex;
 }

 .restaurant_title {
   margin: 60px 5px 27px 28px;
 }

 .heart {
  display: flex;
  float: right;
  position: relative;
  top: -25%;
  width: 58px;
  size: large;
  font-size: 28px;
  color: black;
  cursor: pointer;
  &:hover {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
}
 }

 .new {
   color: #008766;
   background: $color-box;
   border: 5px solid $color-box;
   border-radius: 5px;
   position: relative;
   top: -92%;
   left: 85%;
 }

 .card {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
 }

 .btn_card {
   width: 381px;
   background-color: white;
   border-radius: 20px;
   margin-bottom: 28px;
   height: 275px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, .3)
 }

 .card_img {
   width: 381px;
   height: 188px;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
 }
.card_title{
  color: $color-primary;
  position: relative;
  right: -5%
}
.card_text {
  color: $color-faded;
  position: relative;
  right: -5%;
  top: -4%;
}
 card-figure {
   margin: 0;
 }

 card-figcaption {
   margin: 0;
   padding: 10px;
 }

 a {
   text-decoration: none;
 }