$color-primary: #000;
$color-secondary: #000000bf;
$color-faded: #727472db;
$color-icon: #9356dc;
$color-box: #a9f4e1;
$color-btn: linear-gradient(to top, #9356dc, #cf64dc, #e86edb);
$color-purple: #c3a9e23d;
$color-border: rgb(195 169 226 / 0%);
$breakpoint-tablet: 796px;
$breakpoint-desktop: 992px;
$color-menu: #eae5e5;
$color-check: #99E2D0;
$color-shadow: #e9e9e9;

