$color-primary: #000;
$color-secondary: #000000bf;
$color-faded:#191717b9;
$color-icon: #9356dc;
$color-box: #a9f4e1;
$color-btn: linear-gradient(to top, #9356dc, #cf64dc, #e86edb); 
$color-purple: #c3a9e23d;
$color-border: rgb(195 169 226 / 0%)